.footer_container {
    height: 80px;
    background-color: $color_mint;
    box-shadow: 0 0 5px $color-shadow;
    p {
        padding: 10px 0;
    }
    a {
        outline: none;
    }
    .footer_icon {
        width: 24px;
        height: 24px;
        padding: 8px;
    }
}