//fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Sacramento&display=swap');

$font-headers: 'Sacramento', cursive;
$font-paragraphs: 'Oswald', sans-serif;



a {
    
    text-decoration: none;
}